@charset "UTF-8";
/* em HTML id = # css
em HTML class = . css
*/
body {
    background-color:brown;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: chartreuse;
}

h2{
    color:darkblue;
    
}

p{
    color: white;
}

.basico{
    color:darkgreen;

    
}
.inter{
    color: cyan;
    font-weight: bold;
}
.avancado{
    color: black;
}
.destaque{
    background-color: rgba(230, 214, 127, 0.938);
    width:300px;
}