@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font01: verdana, Geneva, tahoma ,sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
}

/* CONFIG. GERAIS */
html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family:var(--font01);
}
header{
    background-color:black;
    color:white;
    text-align:center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font02);
    font-size:  10vw;

}
header > p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top:10vh;
    padding-bottom:10vh;
    line-height:1.5em;
    padding-left: 30px;
    font-family:var(--font03);
    font-size:3.5vw;
}
section > p{
    padding-bottom:3.5em;
}
section.normal{
    background-color: white;
    color:black;
}
section.imagens{
    background-color: rgb(53, 52, 52);
    color: white;
}
section.imagens > p{
    display:inline-block;
    background-color: rgba(0, 0, 0, 0.253);
    padding:5px;
}

footer{
    background-color:black;
    color: white;
    text-align:center;
    padding:20px;
    font-size: 1.2em;

}